################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/09 home/GuessTheNumberConsole/.vs/GuessTheNumberConsole
/09 home/GuessTheNumberConsole/GuessTheNumberConsole/bin/Debug/net8.0
/09 home/GuessTheNumberConsole/GuessTheNumberConsole/obj
